---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-hedrive.jpg";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page not found</h1>
	<p class="mb-8">
		Please use the navigation to find your way back. If you’re feeling
		generous, lemme know what’s broken:
		<a
			href="mailto:froehnerstephanie@gmail.com"
			target="_blank"
			class="cactus-link"
			>froehnerstephanie@gmail.com
		</a>
	</p>
	<div class="my-4 grid justify-center">
		<Image
			src={aboutImg}
			alt="My small Chihuahua mix dog sits in the drivers seat of a car. McDonald's is blurry in the background."
			loading="eager"
		/>
	</div>
	<p class="mb-8">
		I hope a pic of my dog Worf on his way to the McDonald’s drive-thru
		makes up for this inconvenience.
	</p>
</PageLayout>
