---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-jamming.jpg";

const meta = {
	title: "About",
	description: "Lead Product Designer at Capitalize Money",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">I'm a designer</h1>
		<p>
			I solve problems with curiosity. That means research, observation, conversations and co-creation with my users, cross-functional collaboration with my team, and lots of experimentation.
    </p>
    <p>
      I've enjoyed working in complex industries (currently finance, previously healthcare, legal, and traffic control services) and thinking about large-scale work that results in making someone’s day a little easier, their job a little better, or their dream a little closer to reality. I'm currently at a small startup changing the way 401ks are managed. 
    </p>
    <p>
      When I'm not behind a computer, I play competitive roller derby for Angel City Derby. Ask me about it!
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="I'm rounding the corner of a roller derby track. I have a mischievous grin."
				loading="eager"
				fetchpriority="high"
			/>
		</div>		
	</div>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">About this website</h2>
		<ul class="space-y-4 sm:space-y-2">
      <li>
				<a
					href="https://github.com/chrismwilliams/astro-theme-cactus"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Cactus Astro Theme
				</a>:
				<p class="inline-block sm:mt-2">An awesome Astro starter theme.</p>
			</li>			
      <li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Build fast websites, faster.</p>
			</li>
      <li>
				<a
					href="https://www.netlify.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Netlify
				</a>:
				<p class="inline-block sm:mt-2">Develop and deploy websites in record time.</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>@astro/image
				</a>:
				<p class="inline-block sm:mt-2">
					An Astro integration for optimising images in Astro projects.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">
					Rapidly build modern websites without ever leaving your HTML.
				</p>
			</li>
			<li>
				<a
					href="https://www.markdownguide.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Markdown
				</a>:
				<p class="inline-block sm:mt-2">Simple and easy-to-use markup language.</p>
			</li>
		
			<li>
				<a
					href="https://github.com/vercel/satori"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Satori
				</a>:
				<p class="inline-block sm:mt-2">Generating png Open Graph images for blog posts</p>
			</li>
      <li>
				<a
					href="https://fonts.google.com/specimen/Caprasimo"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Caprasimo
				</a>:
				<p class="inline-block sm:mt-2">A display, old-style soft-serif typeface inspired by the mannerisms of early 20th century typefaces such as the Cooper Series.</p>
			</li>
      <li>
				<a
					href="https://fonts.google.com/specimen/Barlow/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Barlow
				</a>:
				<p class="inline-block sm:mt-2">A slightly rounded, low-contrast, grotesk type family. Barlow shares qualities with California's car plates, highway signs, busses, and trains.</p>
			</li>
		</ul>
	</section>
	
</PageLayout>
