---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 25;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">[frey•ner]</h1>
		<p class="mb-4">
			Hi, I’m a lead UX / product designer with 10+ years of design experience 
      focusing on design systems, optimization and team development. 
      I thrive in complex industries-currently finance, previously healthcare, legal, and traffic control services.
		</p>
		<SocialList />
	</section>

<section aria-label="Portfolio" class="mt-16">
		<h2 class="title mb-4 text-2xl">Selected Work</h2>
		<ul class="space-y-4 sm:space-y-2">
			
      <li class="flex flex-col gap-x-2 sm:flex-row">
        <p class="min-w-[120px] text-gray-500">Cityblock</p>
        <div><a href="/posts/outreach-outcomes/" class="cactus-link" rel="prefetch">Outreach Outcomes</a></div>
      </li>

			<li class="flex flex-col gap-x-2 sm:flex-row">
        <p class="min-w-[120px] text-gray-500">LegalZoom</p>
        <div><a href="/posts/legalzoom-ip/" class="cactus-link" rel="prefetch">Exploring How to Recommend IP Protection</a></div>
      </li>

      <li class="flex flex-col gap-x-2 sm:flex-row">
        <p class="min-w-[120px] text-gray-500">FiveSixTwo</p>
        <div><a href="/posts/562/" class="cactus-link" rel="prefetch">Agency Website</a></div>
      </li>

		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-2xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>


</PageLayout>
